/* color variables */
:root {
    --main-text-color: #dbd670;
    --main-bg-color: forestgreen;
}

/* main navbar text */
#navbar
{
    padding-left: 10px;
    font-size: 35px;
    font-family:"leaguespartan",sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-shadow: 2px 2px black;
}

/* main title font*/
@font-face {
    font-family: leaguespartan;
    src: url("league-spartan/LeagueSpartan-Bold.otf");
}

/* slogan in navbar */
#slogan
{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 14px;
    font-family:serif;
    text-shadow: none;
}

/* styling for the footer of the page*/
.page-footer {
  background-color: var(--main-bg-color);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

/* styling for links in the navbar */
.navlinks{
  color: var(--main-text-color);
  font-size: 18px;
  padding-left: 9px;
  padding-right: 9px;
    text-shadow: none;
}

.navlinks:hover {
    color: var(--main-text-color);
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.navbar-header {
    height: 100%;
}

/* dividers in the navbar */
.divider {
    opacity: .3;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid black;
    height: 20px;
    vertical-align: center;
}
/**
a
{
  position: absolute
  left: 4px;
  bottom: 32px;
  color: #dbd670;
}
*/
