/* color variables */
:root {
    --main-text-color: #dbd670;
    --main-bg-color: forestgreen;
}

#homeContent {
    height: 1000px;
    width: 100%;
}

/* main navbar text */
#navbar
{
    font-size: 35px;
    font-family:"leaguespartan",sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-shadow: 2px 2px black;
}



/* slogan in navbar */
#slogan
{
    margin-top: -4px;
    margin-left: 17px;
    font-size: 14px;
    font-family:serif;
    text-shadow: none;
}

#title {
    margin-top: 10px;
}

#biznizhours {
  color: var(--main-text-color);
  text-decoration: none;
}

/* styling for the footer of the page*/
.page-footer {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 90px;
}

/* styling for links in the navbar */
.navlinks{
  color: var(--main-text-color);
  font-size: 18px;
  padding-left: 9px;
  padding-right: 9px;
  text-shadow: none;
}

.navlinks:hover {
    color: var(--main-text-color);
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.navbar-header {
    height: 100%;
}

/* dividers in the navbar */
.divider {
    opacity: .3;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid black;
    height: 20px;
    vertical-align: center;
}
.footer-title {
  text-decoration: underline;
  margin-bottom: -24.1235px;
}
/**
a
{
  position: absolute
  left: 4px;
  bottom: 32px;
  color: #dbd670;
}
*/
