:root {
    --main-text-color: #dbd670;
    --main-bg-color: forestgreen;
}

/* main navbar text */
#navbar
{
    padding-left: 10px;
    font-size: 35px;
    font-family:"leaguespartan",sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/* main title font*/
@font-face {
    font-family: leaguespartan;
    src: url("league-spartan/LeagueSpartan-Bold.otf");
}

/* slogan in navbar */
#slogan
{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 14px;
    font-family:serif;
}



.page-footer {
  background-color: forestgreen;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
}
.navlinks{
  color: #dbd670;
  font-size: 14px;
}
/**
a
{
  position: absolute;
  left: 4px;
  bottom: 32px;
  color: #dbd670;
}
*/
